[
    {dj_sock_srv, [
        {http_server, "http://127.0.0.1:8000"},
        {http_port, 7000},
        {tcp_port, 7001},
        {time_zone, 8}
    ]},

    {gproc, [{gproc_dist, all}]},

    {lager, [
        {colored, true},
        {log_root, "log"},
        {handlers, [
            {lager_console_backend,
                [info, {lager_default_formatter,
                    [date," ",time,color," [",severity,"] ",pid," ",message,"\e[0m\r\n"]}]},

            {lager_file_backend, [{file, "console.log"}, {level, info}, {date, "$D0"}, {count, 7}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}, {date, "$D0"}, {count, 7}]}
        ]}
    ]}
].
